{{logrotate_logfile}} {
        daily
        missingok
        rotate {{logrotate_rotate_value}}
        compress
        delaycompress
        notifempty
        create 600 {{logrotate_user}} {{logrotate_group}}
}
